<div class="details-view">
  <h4>Icon</h4>
  <%= render 'icon_box_widget/partials/icons_picker', widget: widget, attribute: :icon %>

  <h4>Size</h4>
  <%= scrivito_toggle_button_editor(widget, :size) %>

  <h4>Style</h4>
  <%= scrivito_toggle_button_editor(widget, :style) %>

  <h4>Icon Color</h4>
  <%= render 'icon_box_widget/partials/color_picker', widget: widget, attribute: :color %>

  <h4>Background Color</h4>
  <%= render 'icon_box_widget/partials/color_picker', widget: widget, attribute: :background_color %>
</div>