<h4>Icon</h4>
<div class="alert alert-info">
  <p>More Icons can be found at
    <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank"><strong>Font Awesome</strong></a>.
  </p>
  <p>
   Use only the name of the icon without fa. For Example the icon <i>fa fa-car</i>, use only <strong>car</strong>
 </p>

</div>
<%= render "icon_box_widget/partials/icon_picker", widget: widget, attribute: :icon %>

<h4>Size</h4>
<%= render "icon_box_widget/partials/size_picker", widget: widget, attribute: :size %>

<h4>Style</h4>
<%= render "icon_box_widget/partials/style_picker", widget: widget, attribute: :style %>

<h4>Color</h4>
<%= render "icon_box_widget/partials/color_picker", widget: widget, attribute: :color %>

<h4>Background Color</h4>
<%= render "icon_box_widget/partials/color_picker", widget: widget, attribute: :background_color %>
